Introduction.docx
project_outline_jared_thacker.pdf
1992 United States presidential election in Alabama - Wikipedia
full_dataset.csv
visualizations/*.png
misc/*
final_report/*
data_structure.docx
final_presentation_mult_vars.pptx
final_presentation_mult_vars.pdf
winner_dataset.csv
final_report.pdf
